
html{
    --levelsBackgroundColor : rgba(95, 2, 202, 0.8);
    --titleBackgroundColor : rgba(153, 64, 255, 0.8);

    --levelBackgroundColor : rgb(12, 150, 232);
    --levelShadedBackgroundColor : rgb(6, 109, 168);

    --addNewLevelBackgroundColor :rgb(99, 249, 157);
    --addNewLevelShadedBackgroundColor : rgb(67, 185, 113);
}

#levels{
    position: fixed;
    background :var(--levelsBackgroundColor);
    width: 80%;
    height: 80%;
    top: calc(100% - 80%);
    left: calc(50% - 40%);
    overflow: hidden;
    border-radius: 0.5vh;

    display:none;
}

#title{
    position: relative;
    color : white;
    font-family: ARCADECLASSIC;
    background-color : var(--titleBackgroundColor);
    text-align: center;
    font-size: 4vh;
    cursor : default;
}

#close{
    position: absolute;
    float:right;
    right: 0.5vh;
    top: 0.5vh;
    width: 3vh;
    height: 3vh;
    cursor: pointer;
    background-image: url(../Graphics/UI/close.png);
    background-size: cover;
    transition: var(--globalTransition);
}

#close:active{
    transform: scale(0.9);
}


/* ~~ levels UI ~~ */

.level{
    position: relative;
    width : 14vh;
    height: 20vh;
    margin : 1vh;
    display: inline-block;
    transition: var(--globalTransition);
    cursor :pointer;
}

.level:active{
    transform: scale(0.9);
}

.levelBackground{
    position: absolute;
    width: 100%;
    height: calc(94% -  2.5vh);
    background : var(--levelBackgroundColor);
    border-radius: 1vh;
    z-index: 1;
}

.levelBackgroundShaded{
    position: relative;
    width: 100%;
    height: calc(100% - 2.5vh);
    background : var(--levelShadedBackgroundColor);
    border-radius: 1vh;
}

.levelLogo{
    position: relative;
    width: 90%;
    height: calc(90% - 2.5vh);
    left: 5%;
    display: block;
}

.levelResloution{
    position: relative;
    display: block;
    width: 100%;
    height: 4vh;
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 2.5vh;
    margin-top: 0vh;
}

.levelName{
    position: relative;
    width: 100%;
    font-family: monospace;
    font-size: 2.5vh;
    color : white;
    text-align: center;
    font-weight: bold;
    word-wrap: break-word;
    display: block;
}

/* new level button */
#addNewLevelText{
    position: relative;
    font-weight: bold;
    font-family: monospace;
    font-size : 2.5vh;
    text-align: center;
    color : rgb(37, 37, 37);
}

/* new level background */
#newBG{
    background-color : var(--addNewLevelBackgroundColor);
}

/* shaded background */
#newBGSHADED{
    background-color : var(--addNewLevelShadedBackgroundColor);
}