/* ~~ defining fonts for UI usage ~~ */
@font-face{
    font-family: ARCADE;
    src : url(../Graphics/fonts/ARCADE.TTF);

    font-family: crackman;
    src : url(../Graphics/fonts/crackman.ttf);

    font-family: ARCADECLASSIC;
    src : url(../Graphics/fonts/ARCADECLASSIC.TTF);
}

/* some var for buttons */
html{
    --storeBackgroundColor: rgba(12, 69, 157, 0.72);
    --globalTransition : 0.2s;
    --buttonsFontSize : 4vh;
    --shadedColor   : rgba(0, 0, 0, 0.815);
    --textColor   : rgb(255, 255, 255);
}

#gameBtnsSection{
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    width: 80vh;
    height: 40vh;
}

#gameControlSide{
    position: relative;
    width: 50%;
    height: 100%;
    float:left;
    background-image: linear-gradient(rgb(86, 53, 206), rgba(135, 112, 249, 0.85));
}

#storeSide{
    background-color : var(--storeBackgroundColor);
    position: relative;
    width: 50%;
    height: 100%; 
    float:right;
    cursor : pointer;
    transition: var(--globalTransition);
}

#storeSide:active{
    transform: scale(0.9);
}

#storeSide p{
    position: absolute;
    left: 50%;
    top: 50%;
    font-size: 8vh;
    font-family: ARCADECLASSIC;
    font-weight: bold;
    transform: translate(-50% , -50%);
    color: rgb(255, 255, 255);
    /* text-shadow: 0px 0px 2vh rgba(0, 0, 0, 0.8); */
}

/* new game button */
.testControlCanvas{
    position: relative;
    font-size: 3vh;
    font-family: ARCADECLASSIC;
    color :var(--textColor);
    padding: 2vh;
    width : 25vh;
    height: 8vh;
    cursor: pointer;
    transition: var(--globalTransition);
    display:block;
    left:50%;
    top: calc(50% - 10vh);
    transform: translate(-50%,-50%);
    margin : 1vh;
    border:none;
    background-image: url(../Graphics/UI/buttonUI.png);
    background-color: transparent;
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 0.5vh;
}

.testControlCanvas:active{
    background-image: url(../Graphics/UI/buttonCLickedUI.png);
    transform: translate(-50%,-50%) scale(0.99);
}