
*{
    padding : 0;
    margin: 0;
}

body{
    background-image: url("../Graphics/UI/mainBackground.png");
    background-repeat: repeat;
    background-size: cover 100% 100%;
}

/* games canvas */
#gameCanvas{
    position: absolute;
    border: 1px solid yellow;
    display:none;
    /*
    height: 100%;
    width: 100%;
        left: calc((100% - 800px) / 2);
        top: calc((100% - 600px) / 2);
    */
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

/* black background for canvas */
#canvasBackground{
    position: absolute;
    background-color : black;
    width  : 100%;
    height : 100%;
    overflow: hidden;
    display: none;
    top: 0px;
    left: 0px;
}

.testControlCanvas{
    position : relative;
    /* margin-left : 8px; */
}

