
html{
    --mainMenuBarColor : rgba(0,0,0,0.8);
    --avatarBoderColor : rgb(136, 86, 247);
    --progressBackground : rgb(67, 5, 201);
    --progressPercent : rgb(136, 86, 247);
    --coinsColor : yellow;
    --globalTransition : 0.2s;
}

#mainMenuBar{
    width: 100%;
    height: 10%;
    position: absolute;
    background-color: var(--mainMenuBarColor);
}

#avatr_level{
    position: fixed;
    margin-left: 6vh;
    margin-top: 2vh;
    width : calc(6vh + 18vh);
    height: 6vh;
    float: left;
}

#playerImage{
    position: relative;
    width : 6vh;
    height: 6vh;
    border: 0.4vh solid var(--avatarBoderColor);
    border-radius: 8vh;
    /* box-shadow: 0px 0px 0.6vh 0.2vh var(--avatarBoderColor); */
    float :left;
    margin-top: -0.8vh;
    z-index: 4;
}

#customProgressBarForPlayerLevel{
    position : relative;
    width : 16vh;
    height : 3vh;
    background-color : var(--progressBackground);
    box-shadow: inset 0px 0px 0.4vh 0.6vh rgba(0, 0, 0, 0.2);
    float : left;   
    border-radius: 0.4vh;
    top:50%;
    transform: translate(-0% , -50%);
    left: -0.6vh;
}

#progressPercent{
    position: relative;
    width: 10vh;
    height: 3vh;
    margin-left: -0.5vh;
    background-color: var(--progressPercent);
    box-shadow: 0px 0px 1vh 0.4vh var(--progressPercent);
}


/* coins */

#playerCoins{
    position: fixed;
    float : left;
    height: 6vh;
    margin-left: calc(6vh * 2 + 18vh);
    margin-top: 2vh;
}

#playerCoinsImage{
    position: relative;
    width : 6vh;
    height: 6vh;
    float :left;
    border-radius: 6vh;
    transition: var(--globalTransition);
    cursor: pointer;
}
#playerCoinsImage:active{
    transform: scale(0.9);
}

#playerCoinsCount{
    position: relative;
    width : 6vh;
    height: 6vh;
    float :left;
    font-size: 5vh;
    font-family: tahoma;
    top: 50%;
    transform: translate(0% , -50%);
    left: 1vh;
    font-weight: bold;
    color : var(--coinsColor);
    cursor: default;
}

/* trophies & sitting in class navBarItems*/
.navBarItems{
    position : fixed;
    width : 6vh;
    height: 6vh;
    float : right;
    right: 4vh;
    top: 2vh;
    cursor: pointer;
    transition: var(--globalTransition);
    border-radius: 6vh;
}

.navBarItems:active{
    transform: scale(0.9);
}

/* Trophies */
#PlayerTrophiesImage:hover{
    box-shadow: 0vh 0vh 1vh 0.5vh rgb(154, 42, 38);
}

/* sitting */
#sittingImage{
    right: calc(5vh + 6vh);
}

#sittingImage:hover{
    box-shadow: 0vh 0vh 1vh 0.3vh rgb(255, 255, 255);
    animation: flip360 0.5s linear infinite;
}

/* animation for making sitting flip in hover */
@keyframes flip360{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(360deg);
    }
}