
html{
    --sittingBackgroundColor : rgba(77, 9, 73, 0.8);
    --backgroundAndBorderColor : rgb(37,37,37);
    --titlesColor : rgb(255, 144, 240);
    --subSideBG : rgba(37, 37, 37, 0.884);
    --keysTitleColor : #49f9af;
    --soundProgressBackgroundColor : #5632b9;
    --soundProgressColor : #c84df4;
}

#sittingSections{
    position: absolute;
    width: 100%;
    height: 90%;
    background-color :var(--sittingBackgroundColor);
    overflow-y: scroll;
    overflow-x: hidden;
    display:none;
    top: 10%;
}

/* avatar hole section */
.sittingSection{
    position: relative;
    width: 100%;
}

/* avatar player image */
#SittingPlayerImage{
    position: relative;
    border : 1vh solid var(--backgroundAndBorderColor);
    width: 20vh;
    height: 20vh;
    border-radius: 20vh;
    top: 2vh;
    z-index: 1;
    left: 4vh;
}

/* player name */
#avatarPlayerName{
    position: absolute;
    color :white;
    font-size: 6vh;
    padding : 1vh;
    padding-left: 2vh;
    background-color : var(--backgroundAndBorderColor);
    border-radius: 0.8vh;
    font-family: ARCADECLASSIC;
    top: 10vh;
    left: 24vh;
    cursor: default;
}

/* trops */
#trophyies{
    position:absolute;
    height: 5vh;
    width: calc(6vh * 6);
    top: 18.5vh;
    left: 25vh;
}

.trophies{
    position: relative;
    width : 4vh;
    height: 4vh;
    padding-left: 2vh;
    float:left;
}

/* section player inputs */
#playerProfileInputs{
    width: auto;
}

/* all titles in sitting */
.titles{
    position: relative;
    font-family: ARCADECLASSIC;
    color: var(--titlesColor);
    font-size: 8vh;
    left: 4vh;
    margin-top: 2vh;
    animation: lightingTitles 1s linear infinite;
    cursor: default;
}
/* all HR in sitting */
.sittingHR{
    position :relative;
    width : calc(100% - 8vh);
    height: 1vh;
    left  : 4vh;
    background-color : var(--titlesColor);
    border:none;
    animation: lightingTitlesHR 1s linear infinite;
}

@keyframes lightingTitles{
    0%{
        color : var(--titlesColor);
        text-shadow: 0px 0px 0vh var(--titlesColor);
    }
    50%{
        color : var(--keysTitleColor);
        text-shadow: 0px 0px 3vh var(--keysTitleColor);
    }
    100%{
        color : var(--titlesColor);
        text-shadow: 0px 0px 0vh var(--titlesColor);
    }
}

@keyframes lightingTitlesHR{
    0%{
        background-color : var(--titlesColor);
        box-shadow: 0px 0px 0vh 0vh var(--titlesColor);
    }
    50%{
        background-color : var(--keysTitleColor);
        box-shadow: 0px 0px 2vh 0vh var(--keysTitleColor);
    }
    100%{
        background-color : var(--titlesColor);
        box-shadow: 0px 0px 0vh 0vh var(--titlesColor);
    }
}

/* sub sides in sitting */
.subSide{
    position: relative;
    background-color: var(--subSideBG);
    display:inline-block;
    left: 10%;
    width: 40%;
    height: 10vh;
    top: 1vh;
    margin-left: 1vh;
    z-index: 2;
}

.subSide p{
    font-size: 4vh;
    font-family: ARCADECLASSIC;
    cursor : default;
    color : white;
    text-align: center;
}

.subSide input{
    position: relative;
    transform: translate(-50% , 0%);
    left: 50%;
    top: 0vh;
    width: 80%;
    height: 4vh;
    font-size: 3vh;
    font-family: ARCADECLASSIC;
    border:none;
    float:left;
}

/* ~~ sitting - keys & sound side */
.keysList{
    position : relative;
    width: calc(80% + 2vh);
    left: 10%;
    top: 1vh;
    z-index : 1;
    padding-bottom: 2vh;
}

.keyS{
    position: relative;
    color : white;
    text-align: center;
    font-size : 4vh;
    font-family: ARCADECLASSIC;
    background-color : var(--backgroundAndBorderColor);
    display:inline-block;
    height: calc(100% / 7);
}

.keysTitles{
    width: 60%;
    color : var(--keysTitleColor);
    cursor:default;
}

.keysValues{
    float : right;
    width: 40%;
    cursor : pointer;
    transition : 0.4s;
    background: transparent;
}

.keysValues:hover{
    animation : hoverKeyChange 0.4s linear infinite;
}

/* animation when player hover at any key in sitting */
@keyframes hoverKeyChange{
    0%{
        background-color : rgb(72, 249, 175);
    }
    50%{
        background-color : rgba(249, 246, 72, 0.836);
    }
    100%{
        background-color : rgb(72, 249, 175);
    }
}

.keysValues:active{
    transform : scale(0.9);
}


/* sound progresses side */

.soundProgressInSitting{
    float : right;
    width: 35%;
    height: 3vh;
    border-radius: 0.5vh;
    cursor : pointer;
    transition : 0.4s;
    background-color: var(--soundProgressBackgroundColor);
    /* overflow:hidden; */
}

.soundValueInSitting{
    height : 100%;
    width : 50%;
    background-color: var(--soundProgressColor);
    box-shadow : 0px 0px 1.5vh 0.4vh var(--soundProgressColor);
}

/* upload pic button in sitting */

#takeNewImage{
    background : rgb(252, 74, 237);
    cursor : pointer;
}

#takeNewImage:hover{
    animation : hoverKeyChange 0.5s linear infinite;
}

