
html{
    --storeBackground : rgba(32, 2, 77, 0.88);
    --storeSubMenuBackground : rgb(80, 37, 235);

    --itemsBackgroundShaded :  rgb(29, 14, 81);
    --itemsBackground : rgb(47, 29, 115);
}

/* full store side */
#storeSection{
    position : absolute;
    top: 10%;
    width: 100%;
    height: 90%;
    background-color : var(--storeBackground);
    overflow: hidden;
    display: none;
}

#storeSubMenu{
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    width: 9vh;
    height: 34.5vh;
    background-color : var(--storeSubMenuBackground);
}


/* divs as buttons with images */
.items{
    /* style without images */
    position: relative;
    display: block;
    height: calc(32vh/4);
    width: 8vh;
    left: 0.5vh;
    margin-top: 0.5vh;
    cursor: pointer;
    transition: 0.2s;
    overflow: hidden;   
    background-size: contain;
}

/* just simple scale when user click */
.items:active{
    transform : scale(0.9);
}


/* ==image to each div== */

#giftsButton{
    background-image: url("../Graphics/UI/giftLogoUI.png");
}

#tanksButton{
    background-image: url("../Graphics/UI/tanksLogoUI.png");
}

#armsButton{
    background-image: url("../Graphics/UI/ArmsLogoUI.png");
}

#mapsButton{
    background-image: url("../Graphics/UI/levelLogoUI.png");
}


/* main background for items */
#mainBackgroundForItems{
    position: absolute;
    width: calc(100% - 9vh);
    height: 34.5vh;
    left: 9vh;
    top:50%;
    transform: translate(0% , -50%);
    overflow: hidden;

    /* gradient background for all items in store */
    background: rgb(110,63,240);
    background: linear-gradient(90deg, rgba(110,63,240,0) 0%, rgba(110,63,240,1) 32%, rgba(91,52,198,1) 63%, rgba(110,63,240,0) 100%);

}

/* all items in store : base style */
.storeItem{
    position: relative;
    width: 20vh;
    height: 30vh;
    /* shaded background */
    background: #291458;
    left: 1vh;
    top: 1vh;
    display: inline-block;
}

/* background */
.itemStruct{
    position: absolute;
    width: 100%;
    height : calc(100% - 1vh);
    background-color : var(--itemsBackground);
    /* overflow: hidden; */
}

.loockedMapLogo{
    position: relative;
    width: 80%;
    left: 10%;
    display: block;
}

.itemLevel{
    position:relative;
    width: 100%;
    height: 4vh;
    background :rgb(0, 255, 55);
    overflow: hidden;
    font-family: ARCADECLASSIC;
    font-size: 3vh;
    text-align: center;
    color :white;
    cursor: default;
}

.mapDescription{
    position: relative;
    display: block;
    font-size: 2.5vh;
    font-family: ARCADECLASSIC;
    color : white;
    margin-left: 0.8vh;
    top: 0.8vh;
}

.mapDescription span{
    color : rgb(0, 255, 255);
}

.storeButton{
    position: relative;
    background-color : yellow;
    border-style: none;
    text-align: center;
    width: 80%;
    left: 10%;
    top: 2vh;
    font-size: 3vh;
    font-family: ARCADECLASSIC;
    cursor: pointer;
    transition: 0.5s;
    display: block;
    border-bottom: 0.5vh solid rgb(160, 160, 7);
}

.storeButton:active{
    border-style: none;
    transform: scale(0.90);
}


/* ============= ARMS / BULLETS =================== */
.bulletsBackground{
    position: relative;
    width: 100%;
    height: 18vh;
    background: rgb(236,88,129);
    background: linear-gradient(0deg, rgba(236,88,129,1) 0%, rgba(70,2,127,1) 81%); 
}

.bulletLogo{
    position :absolute;
    width: 80%;
    left: 50%;
    top: calc(18vh/2);
    transform: translate(-50%,-50%);
}

.bulletDamageText{
    position: relative;
    font-size: 2.2vh;
    float: left;
    margin-top : 1vh;
    margin-left: 0.5vh;
}

.bulletDamageProgress{
    position: relative;
    width: 10vh;
    height: 2vh;
    background-color :rgb(0, 0, 0);
    float:right;
    right: 0.5vh;
    top: 2vh;
    overflow: hidden;
}

.perecent{
    position: absolute;
    width: 5vh;
    height: 100%;
    background-color : rgb(48, 248, 41);
}

.bayButton{
    top: 2.5vh;
}


/* ================ tanks ================== */
.tanksBackground{
    position: relative;
    width: 100%;
    height: 14vh;
    background: rgb(236,88,129);
    background: linear-gradient(0deg, rgba(236,88,129,1) 0%, rgba(70,2,127,1) 81%); 
}

.tankLogo{
    position: absolute;
    width: 80%;
    height: 14vh;
    top:0%;
    left: 10%;
}

.fullProgresses{
    position:relative;
    overflow: hidden;
    width: 100%;
    height: calc(2vh * 5);
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
}

.tankText{
    position: relative;
    font-family: ARCADECLASSIC;
    color: white;
    font-size: 2.2vh;   
    width: 100%;
    height: 100%;
    text-align: center;
}

.tankProgress{
    position: relative;
    width: 90%;
    height: 60%;
    background-color :rgb(0, 0, 0);
    overflow: hidden;
    top: 0.5vh;
}


.bayTankButton{
    position: relative;
    background-color : yellow;
    border-style: none;
    text-align: center;
    width: 80%;
    left: 10%;
    /* top: 2vh; */
    font-size: 3vh;
    font-family: ARCADECLASSIC;
    cursor: pointer;
    transition: 0.5s;
    display: block;
    border-bottom: 0.5vh solid rgb(160, 160, 7);
}

.bayTankButton:active{
    border-style: none;
    transform: scale(0.90);
}

.tankItem , .armsItem , .mapItem{
    display: none;
}


/* back to menu button */

.backToMenuButton{
    position: absolute;
    font-size: 3vh;
    font-family: ARCADECLASSIC;
    border-style: none;
    color : white;
    background-color : var(--storeSubMenuBackground);
    border-bottom: 0.5vh solid rgb(49, 30, 119);
    height : 4vh;
    padding: 0vh 1vh 0vh 1vh;
    cursor: pointer;
    transition: 0.2s;
    text-align: center;
    bottom: 2vh;
}

.backToMenuButton:active{
    border-bottom: 0.5vh solid var(--storeSubMenuBackground);
    transform: scale(0.9);
}